
    body {
      font-family: sans-serif;
      background: #98a6d4;
      padding: 20px;
    }
    h1 {
      color: #44344f;
      text-align: center;
    }
    .digimon-card {
      border: 1px solid #ccc;
      background: #564d80;
      color:white;
      border-radius: 8px;
      padding: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .digimon-card:hover {
      background: #e6f5e7;
    }
    .digimon-img {
      max-width: 100px;
      max-height: 100px;
      display: block;
      margin-bottom: 10px;
    }
    .back-button {
      display: inline-block;
      margin-bottom: 10px;
      padding: 6px 12px;
      background-color: #44344f;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    .start-options {
      margin-bottom: 20px;
    }
    .start-options button {
      margin-right: 10px;
      padding: 6px 12px;
      font-size: 14px;
      background-color: #44344f;
      border: none;
      color: white;
      border-radius: 4px;
      cursor: pointer;
    }
    .start-options button:hover {
      background-color: #bbb;
    }
  .recruit-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.recruit-item {
  border: 1px solid #888;
  padding: 10px;
  border-radius: 6px;
  background: #564d80;
  color: black;
}
    .recruit-item h3 {
      margin: 0;
      cursor: pointer;
      color: black;
    }
    .description {
      display: none;
      margin-top: 6px;
      font-size: 18pt;
      color: black;
    }
    .recruit-item.active .description {
      display: block;
    }
  
    .location-tag {
      font-size: 0.85em;
      font-weight: normal;
      color: black;
      font-style: italic;
      margin-left: 6px;
    }
    table.display {
            width: 100%;
            border-collapse: collapse;
            
        }
        table.display th, table.display td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
            color:Black;
            font-size: 13pt;
        }
        table.display thead th {
            background-color: #f2f2f2;
            
        }
        tr:nth-child(even) {
            background-color: #564d80;
            
        }
        